.products {
    margin-top: 4em;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.product {
    display: flex;
    flex-direction: column;
    margin: 2em;

    img {
        width: 280px;
        height: 240px;
    }
}

.product-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart, .add-to-cart:focus, .add-to-cart:focus-visible {
    width: 80%;
    height: 2.5em;
    margin: auto;
    font-size: larger;
    text-align: center;
    border: .1em solid black;
    border-radius: .4em;

    justify-self: center;
}

@media screen and (max-width: 500px) {
    .product {
        margin: 0;
        margin-bottom: 2em;
    }
}